version: "3.8"

services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
      - REDIS_URL=redis://redis:6379
    env_file:
      - apps/backend/.env
    depends_on:
      - postgres
      - redis
    restart: always

  ws:
    build:
      context: .
      dockerfile: apps/ws/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
      - REDIS_URL=redis://redis:6379
    env_file:
      - apps/ws/.env
    depends_on:
      - postgres
      - redis
    restart: always

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
      - REDIS_URL=redis://redis:6379
    env_file:
      - apps/worker/.env
    depends_on:
      - postgres
      - redis
    restart: always
  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - apps/frontend/.env
    depends_on:
      - postgres
      - redis
    restart: always

volumes:
  postgres_data:
  redis_data:
